#creatings
  %h3
    I developed
    .tlt
      %ul.texts
        %li{'data-url' => "https://github.com/DSIW/dsiw-it.de"} this
        -# %li{'data-url' => "https://www.papierkram.de"} papierkram
        %li{'data-url' => "https://github.com/DSIW/sublet-diskspace"} sublet-diskspace
        %li{'data-url' => "https://github.com/DSIW/slideoff"} slideoff
        %li{'data-url' => "https://github.com/DSIW/manadots"} manadots
        %li{'data-url' => "https://github.com/DSIW/questions"} questions
        %li{'data-url' => "https://github.com/DSIW/fake_home"} fake_home
        %li{'data-url' => "https://github.com/DSIW/twoffein-client"} twoffein-client
        %li{'data-url' => "https://github.com/DSIW/dedris"} dedris
        %li{'data-url' => "https://github.com/DSIW/misux"} misux
        -# %li{'data-url' => "https://github.com/DSIW/vim"} vim
        -# %li{'data-url' => "https://github.com/DSIW/dotfiles"} dotfiles
        %li{'data-url' => "https://github.com/DSIW/scripts"} scripts
        -# %li{'data-url' => "https://github.com/DSIW/configbackup"} configbackup

%p
  Hi! I'm Max, live in Berlin/Germany and I love to code... I do different things around the web. Check out my
  %a{:href => "https://github.com/DSIW"} GitHub profile
  for more details.

.social
  %a{:href => "mailto:dsiw@dsiw-it.de"}
    %i.fa.fa-fw.fa-envelope-o
  %a{:target => '_blank', :href => "https://pgp.mit.edu/pks/lookup?op=get&search=0xC26F8DBC4C690786"}
    %i.fa.fa-fw.fa-lock
  %a{:target => '_blank', :href => "http://blog.dsiw-it.de"}
    %i.fa.fa-fw.fa-book
  %a{:target => '_blank', :href => "https://github.com/DSIW"}
    %i.fa.fa-fw.fa-github
  %a{:target => '_blank', :href => "http://plus.dsiw-it.de"}
    %i.fa.fa-fw.fa-google-plus
  %a{:target => '_blank', :href => "https://www.xing.com/profile/Maximilian_Luz"}
    %i.fa.fa-fw.fa-xing
  %a{:target => '_blank', :href => "https://twitter.com/#!/DSIW"}
    %i.fa.fa-fw.fa-twitter
