!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "generator", :content => "nanoc 3.6.8"}
    %meta{:name => "theme-color", :content => "#CB4B16"}
    %title DSIW
    %link{:rel => "shortcut icon", :href => "/images/favicon.png"}

    %link{:rel => "stylesheet", :type => "text/css", :href => "/style/normalize.css", :media =>"screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style/animate.css", :media =>"screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style/screen.css", :media =>"screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style/fonts.css", :media =>"screen"}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "/js/jquery-2.1.0.min.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.lettering.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.textillate.js"}
    %script{:type => "text/javascript", :src => "/js/script.js"}
  %body
    .page-border
      %header
        %nav.fadeInDown.animated
          %a{:href => "http://github.com/DSIW"}
            GitHub
          %a.logo{:href => "/"}
            -# md5 hash of dsiw@dsiw-it.de
            %img#logo{:src => "https://gravatar.com/avatar/d7cc27935078cf0b2baa84e3140a3cf3?s=256&d=mm"}
          %a{:href => "http://blog.dsiw-it.de/impressum/"}
            Impressum
      #main
        = yield
      %footer
        Created with
        %span.heart-placeholder
          %span.heart ♥
        \.
        Powered by
        %a{:href => "http://nanoc.ws/"}
          nanoc
        \.
        Hosted on
        %a{:href => "https://uberspace.de"}
          Uberspace
        \.
